apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mas
  namespace: mas
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/websocket-services: "mas"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - mas.mayne.vcn
    secretName: mas-tls
  rules:
  - host: mas.mayne.vcn
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mas
            port:
              number: 8000

